<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Dummy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/libs.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

    <!--[if lt IE 8]>
    
    <![endif]-->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body>

    <section>
        @@include('../componentes/componente-dummy.html')
    </section>

<!-- build:js scripts/vendor/libs.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
